<h1>Login</h1>

<%= form_with(url: users_path) do |f| %>

  <div class="my-5">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="my-5">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  

  <%= f.submit "Login", class: "bg-slate-400 px-8 py-3 rounded cursor-pointer hover:bg-slate-500 text-white" %>
<% end %>