<!DOCTYPE html>
<html>
  <head>
    <title>SaoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">

    <div>
    <p>
      <%= flash[:alert] %>
    </p>
    <p>
      <%= flash[:notice] %>
    </p>
    </div>

    <div>
      <nav>
        <% if user_logged_in? %>
          <%= link_to "Create new post", new_blog_post_path %>
          <%= link_to "Profile", user_path(session[:user_id]) %>
          <%= button_to "Logout", users_logout_path, method: :delete %>
        <% end %>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
