<!DOCTYPE html>
<html>
  <head>
    <title>SaoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>

    <nav>
      <% if user_logged_in? %>
        <p>You are logged in</p>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
